#rank{
  text-align: center;
  line-height: 1.1;
  font-weight: 700;
  color: red;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
  letter-spacing: 2px;
}

#news{
  text-align: center;
  line-height: 1.1;
  font-weight: 700;
  color: red;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}
video{
  margin-top: 20px;
}