* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: black;
}


h1 {
	color: #fff;
    font-weight: 900;
    font-size: 8em;
    letter-spacing: 1px;
    line-height: 1em;
    font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
}

p li {
	font-size: 10px;
	font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
}

h3 {
	font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
}

.info {
	padding-top: 5%;
}

div.main {
	background: black;
}

div.overview {
	float: left;
	width: 60%;
	color: #fff;
	padding: 5%;
}

div.prevention {
	float: left;
	width: 40%;
	background: rgba(234,46,73,0.9);
	color: #fff;
	padding: 5%;
}

div.symptoms {
	float: left;
	width: 89%;
	background: rgba(225, 225, 225, 0.9);
	padding: 5%;
}
