body {
  background-color: black;
  /*font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;*/
}

/*hr {*/
/*  border-top: 1px solid #f8f8f8;*/
/*  border-bottom: 1px solid rgba(0,0,0,0.2);*/
/*}*/

h1 {
  color: white;
  font-weight: 900;
  font-size: 8em;
  letter-spacing: 1px;
  line-height: 1em;
  font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
  text-shadow: 0px 4px 3px rgba(255,255,255,0.4),
  0px 8px 13px rgba(255,255,255,0.1),
  0px 18px 23px rgba(255,255,255,0.1);

}

#posts {
  background-color: white;
}

.row {
  color:darkgray;
  font-weight: bold;
  font-size: 2em;
  height: fit-content;


  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 0.3rem solid lightgray;
}

.threads {
  color:black;
  font-size: 1.5em;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 0.1rem dashed lightgray;
  padding: 1% 0%;
}

.data {
  color:red;
}
button {
  margin-bottom: 5%;
}