.navbar-default .navbar-brand:hover {
  color: white;
  border-bottom: 1px solid red;
  margin-bottom: 1px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  border-bottom: 1px solid red;
  margin-bottom: 1px;
}